#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

#game-screen {
    position: relative;
}

#game-canvas {
    width: 100%;
    height: 100%;
    border: 1px solid #bb1010;
}

#score {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}
